.input-field{
    width: 25%;
    background-color: rgb(250, 245, 218);
    /* border: 3px solid rgb(168, 197, 237); */
    border-radius: 5px;
    border: none;
}

.btn-search{
    width: 10%;
    border-radius: 5px;
    border: none;
    color: white;

}

.list-style{
    list-style: none;
}


#toolbar {
  margin: 0;
}

.bg-export{
    background-color: #6c757d;
    color: white;
}
